<h1>Transactions</h1>

<%= link_to 'Import Transactions', transactions_import_path %>
<%= link_to 'Clear All', transactions_clear_all_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<table>
  <thead>
  <tr>
    <th>Transaction ID</th>
    <th>Transaction Date</th>
    <th>Post Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.trans_date %></td>
      <td><%= transaction.post_date %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.amount %></td>
      <td><%= collection_select(:transaction, :tag_id, Tag.all, :id, :name, {object: transaction, include_blank: 'None'},
                                {class: 'tagSelector', id: "tx#{transaction.id}"}) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
